.slider-wrapper {
  height: 100%;
  width: 100%;
}

.slider-track {
  position: relative;
  height: 100%;
}

.button-wrapper-left {
  z-index: 1003;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  height: 24px;
  width: 24px;
  background-color: #202020;
  border-radius: 50%;
  margin: 8px;
}

.button-wrapper-right {
  z-index: 1003;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  height: 24px;
  width: 24px;
  background-color: #202020;
  border-radius: 50%;
  margin: 8px;
}

.button-wrapper-hover {
 opacity: 0.9;
}

.image-open {
  object-fit: contain;
}

.image {
  object-fit: cover;
}

.slider-item-open {
  z-index: 1030;
  display: flex;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: #202020;
  align-items: center;
}

.slider-item {

}
