.alert-wrapper {
  display: flex;
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  align-items: center;
  background-color: #ff8e8e;
  border-radius: 12px;
  z-index: 10;
  color: #000000;
  padding: 8px;
}

.alert-text {
  text-align: center;
  display: flex;
  margin: 8px;
}

.alert-button-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #808080;
  height: 24px;
  width: 24px;
}

.alert-button {
  margin: 0 auto;
  display: flex;
  font-size: 20px;
}

