.intro-wrapper {
  margin: 0 auto;
  display: flex;
  width: 50%;
  height: fit-content;
  min-height: 300px;
  /* min-width: 500px; */
}

.intro-card {
  display: flex;
  border-radius: 8px;
  background-color: #404040;
  box-shadow: 2px 2px #202020;
  height: auto;
  width: 100%;
  text-align: center;
}

.intro {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  align-items: center;
}

.intro-description {
  display: flex;
  text-align: center;
  margin: 8px;
  height: fit-content;
}
