.nav-wrapper {
  background-color: rgb(55, 55, 55);
  display: flex;
  position: absolute;
  bottom: 0%;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 50%;
}

.nav-content {
  display: flex;
  margin: 0 auto;
  width: 60%;
  align-items: center;
}

.nav-item {
  width: 1/3;
  margin: 0 auto;
  text-align: center;
}

.nav-item:hover {
  text-decoration: underline;
  color: #0000ff;
}

.nav-item:active {
  text-decoration: underline;
  color: #202020;
}