.nav-wrapper {
  background-color: #404040;
  display: flex;
  align-items: center;
  margin: 100px auto; 
  width: 75%;
  height: 30%;
  border-radius: 12px;
}

.nav-content {
  display: flex;
  margin: 0 auto;
  height: 120px;
  width: 90%;
  align-items: center;
}

.nav-item {
  margin: 0 auto;
  text-align: center;
  color: #00cccc;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-item:active {
  text-decoration: underline;
  color: #b0b0b0;
}