.password-box {
  background-color: rgb(64, 64, 64);
  margin: 0 auto;
  text-align: center;
}

.password-wrapper {
  animation: transitionIn 2s ease 4s;
  animation-fill-mode: forwards;
  opacity: 0;
  margin-top: 8px;
  text-align: center;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}